Options -Indexes

<IfModule mod_authz_core.c>
  <FilesMatch "^(database\.sql|database\.php)$">
    Require all denied
  </FilesMatch>
</IfModule>

<IfModule !mod_authz_core.c>
  <FilesMatch "^(database\.sql|database\.php)$">
    Deny from all
  </FilesMatch>
</IfModule>
